/* ========================== Component Name ========================== */
$component: .features-75;

/* ========================== Order: ========================== */

/*
 * Base
 * Modifiers
 * Breakpoints
 * Component Options
 * Themes
 */

/* ========================== Component Base: ========================== */

$(component) {

  &__wrap {
    /*@apply flex relative w-full mx-auto text-wire-dark;*/
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(540px, auto);
    overflow-x: scroll;
  }

  &__block {
    width: 70vw;
    padding: 4rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;

    &:nth-child(odd) {
      @apply bg-wire-light;
    }

    &:nth-child(even) {
      @apply bg-wire-gray--light;
    }
  }

  &__block-icon {
    width: 50px;
    height: auto;
  }

  &__block-title {
    @include heading-2;
    width: 50%;
    margin-top: 1rem;
  }

  &__block-text {
    margin-top: 1rem;
    @apply text-wire-gray;
  }

  /* ========================== Modifiers ========================== */

  /* ========================== Breakpoints ========================== */

  @screen sm {

  }

  @screen md  {
    &__wrap {
      overflow: hidden;
    }

    &__block {
      width: auto;
    }
  }

  @screen lg  {

  }

  @screen xl  {

  }

  @screen xxl  {

  }

  /* ========================== Component: Options ========================== */

  /* ========================== Themes ========================== */
}

/* ========================== INSTANCE OVERRIDES ========================== */

$(component).someClass {
  
  $(component)__wrap {
    
  }
}
